<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-input color="danger"[(ngModel)]="singleComment.comment" (keydown.enter)="createComment()"></ion-input> <!--when enter also call func-->
  <ion-button color="warning" type="button" (click)="createComment()">Create comment</ion-button>

  <h1>{{comments.length}}</h1>

  <ion-list>
    <ion-item *ngFor="let Acomment of comments">
      {{Acomment.comment}} {{Acomment.rating}}
    </ion-item>
  </ion-list>


</ion-content>
