<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>{{comments.length}}</h1>
  <!-- <img src="assets/images/StoneCave.png" style="width:1400px;height:600px;">  -->
  <ion-list>
    <ion-item *ngFor="let Acomment of comments let i = index">
      {{Acomment.comment}} {{Acomment.rating}} <ion-button color="warning" type="button" (click)="addLike(i)">Like comment</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
